* {
  box-sizing: border-box;
}

/* CSS Custom Properties */

:root {
  /* --main-bg: #4a4e4d; */
  --top-menu-bg: #7ae4ee;
  --sub-menu-bg: rgba(30, 129, 136, 0.281);

}

body {
  font-family: Tahoma, Geneva, sans-serif;
  height: 100vh;
  margin: 0px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: grid;
  grid-template-rows: 3rem auto;
  color: #fbfeff;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  
}


.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}
/* Part 2 starts Here */
header, #top-menu {
	position: relative;
}
#top-menu {
	z-index: 20;
}
#sub-menu {
	width: 100%;
	z-index: 10;
	transition: top 0.5s ease-out;

}
#sub-menu a:hover {
	background-color: var(--top-menu-bg);
}
nav a.active {
	background-color: var(--sub-menu-bg);
	color: var(--main-bg);
}

/* Welcome message */
h1 {
    font-size: 2em;
    color: #333;
}

/* Prompt over & Style  */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; 
}
.modal {
    background-color: #7ca3a7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}